
.content{
    width: 95vw;
    height: 1000px;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-left: 80px;    
    display: flex;
    justify-content: center;
    background-color:rgb(20, 15, 15);
}
.video{
    width: 310px;
    height: 201px
}
.maincontainer{
    display: flex;
    height: 1000px;
    background-color:rgb(20, 15, 15);
    margin-top: 50px;
    overflow: hidden;
}