.popup{
    width: 60px;
    height: 600px;
    background-color:rgb(28,26,26);
    position: fixed;
}
.icon1{
    width: 50px;
    height: 100px;
    background-color:rgb(223, 204, 204);
    background-image: url(homeicon.png);
    background-size: cover;
    border-radius:100px;
    border: 3px solid black;
    width: 56px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.popupmenu{
    width: 260px;
    height: 600px;
    background-color: rgb(28,26,26);
    position: fixed;
    top: 64px;
    display: block;
    transition: ease-in;
    text-align: center;
    color: white;
}
.popupmenu div{
    margin-top: 15px;
}